<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">

    <h2>Selecciona una canción</h2>
    <ion-button (click)="randomSong()">Random</ion-button>

  </ion-card>

  <ion-card *ngIf="selectedSong.Nombre">
    <ion-card-header>
      <ion-card-subtitle>Canción sugerida</ion-card-subtitle>
    </ion-card-header>
    <div class="ion-card-body">
      <div>
        <h2>{{selectedSong.Nombre}}</h2>
        <span>{{ (selectedSong.Version == 'Normal') ? '' : '('+ selectedSong.Version +')' }}</span>
      </div>
      <div class="ion-card-multi">
        <img src="https://picsum.photos/id/8/300/300" alt="Image random">
      </div>
      <div>
        <ion-button (click)="confirmSong()">Confirmar</ion-button>
      </div>
    </div>
  </ion-card>

  <ion-card *ngIf="confirmedSong.Nombre">
    <ion-card-header>
      <ion-card-subtitle>Canción selecciónada</ion-card-subtitle>
    </ion-card-header>
    <div class="ion-selected-body">

      <div class="ion-selected-left">
        <div>
          <h5>{{confirmedSong.Nombre}}</h5>
          <span>{{ (confirmedSong.Version == 'Normal') ? '' : '('+ confirmedSong.Version +')' }}</span>
        </div>
        <div class="ion-selected-multi">
          <img src="https://picsum.photos/id/8/300/300" alt="Image random">
        </div>
      </div>

      <div class="ion-selected-right">
        <div>
          <h5>Participantes</h5>
        </div>
        <div *ngIf="!peopleControl">
          <div class="selected-right-span">
            <span>No hay participantes elegidos</span>
          </div>
          <div class="selected-right-button">
            <ion-button (click)="addPeople()">Agregar</ion-button>
          </div>
        </div>
        <div *ngIf="peopleControl">
          <ion-list>
            <ion-item *ngFor="let p of peopleList">
              <ion-avatar slot="start">
                <img [src]="p.Imagen">
              </ion-avatar>
              <ion-label>
                <h5>{{p.Nombre}}</h5>
                <h6>{{p.CancionesJugadasLocal}}</h6>
              </ion-label>
              <ion-toggle (ionChange)="changePeople($event.detail, p.ID)" slot="end"></ion-toggle>
            </ion-item>
          </ion-list>
          <div class="selected-right-button">
            <ion-button (click)="confirmPeople()">Confirmar</ion-button>
          </div>
        </div>
      </div>
    </div>
  </ion-card>

</ion-content>